<table class="table table-success">
  <thead>
    <tr>
      <th>id</th>
      <th>product name</th>
      <th>quantity</th>
      <th>price</th>
      <th>total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of billProducts">
      <td>{{ item.product._id }}</td>
      <td>{{ item.product.name }}</td>
      <td (click)="count(item)">{{ item.quantity }}</td>
      <td>{{ item.product.price }}</td>
      <td>{{ item.product.price * item.quantity }}</td>
      <td>
        <button (click)="deleteProductFromBill(item.product._id)">
          delete
        </button>
      </td>
      <td>
        <button (click)="update(item)">update</button>
      </td>
    </tr>

    <tr></tr>
  </tbody>
</table>
<h3>total: {{ total }}</h3>

