<table class="table table-success">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>price</th>
      <th>discount</th>
      <th>DoesInMG</th>
      <th>quantity</th>
      <th>image</th>
      <th>description</th>

      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of myArray">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.discount }}</td>
      <td>{{ item.DoesInMG }}</td>
      <td>{{ item.quantity }}</td>
      <td>
        <img
          src="assets/uploads/products/{{ item.image }}"
          style="max-width: 100px; max-height: 150px"
        />
      </td>
      <td>{{ item.description }}</td>

      <td>
        <button (click)="deleteProduct(item._id)">delete</button>
      </td>
      <!-- <td>
         <button (click)="editProduct(item)">Update</button>
         </td>  -->
    </tr>

    <tr></tr>
  </tbody>
</table>
