<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<header>
  <!--? Header Start -->
  <div class="header-area">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!-- Logo -->
          <div class="col-xl-2 col-lg-2 col-md-1">
            <div class="logo">
              <a routerLink="/index"
                ><img src="../../assets/assets/img/logo/logo.png" alt=""
              /></a>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10">
            <div
              class="menu-main d-flex align-items-center justify-content-end"
            >
              <!-- Main-menu -->
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a href="index.html" routerLink="/navbar">Home</a></li>
                    <li>
                      <a href="article.html" routerLink="/product">Articles</a>
                    </li>

                    <li><a href="statistics.html">statistics</a></li>
                    <li>
                      <a href="add.html">Add</a>
                      <ul class="submenu">
                        <li>
                          <a href="addmembers.html" routerLink="/register"
                            >Add members</a
                          >
                        </li>
                        <li>
                          <a href="addcusstumers.html" routerLink="/custumer"
                            >Add custumers</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li><a href="bill.html">Bill</a></li>
                  </ul>
                </nav>
              </div>
              <div class="header-right-btn f-right d-none d-lg-block ml-30">
                <a class="btn header-btn" (click)="onlogout()">Log Out</a>
              </div>
            </div>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table table-image">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Discount</th>
                <th scope="col">DoesInMG</th>
                <th scope="col">Quantity</th>
                <th scope="col">Description</th>

                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of myArray">
                <td>
                  <img
                    src="assets/uploads/products/{{ item.image }}"
                    style="max-width: 100px; max-height: 150px"
                  />
                </td>

                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.discount }}</td>
                <td>{{ item.DoesInMG }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.description }}</td>

                <td>
                  <a href="#" class="btn btn-primary a-btn-slide-text">
                    <span
                      class="glyphicon glyphicon-remove"
                      aria-hidden="true"
                      (click)="deleteProduct(item._id)"
                    ></span>
                    <span><strong></strong></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
